$cor-vermelha: #E33D33;
$cor-branca: #fff;
$cor-cinza: #333;

.card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em 1em;
    margin-bottom: 2em;
    width: 23%;
    border-radius: 1em;
    border: 2px solid $cor-vermelha;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
    background-color: $cor-cinza;
    color: $cor-branca;

    & p {
        margin: 1em 0;
        background-color: $cor-vermelha;
        border-radius: 5px;
        padding: 5px;
        color: $cor-branca;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & h3 {
        text-transform: capitalize;
        margin-bottom: 1em;
        font-size: 1.4em;
    }

    & a {
        text-decoration: none;
        background: $cor-branca;
        color: $cor-cinza;
        padding: .7em 1.2em;
        border-radius: 5px;
        font-weight: bold;
        transition: 0.4s;

        &:hover {
            background-color: $cor-vermelha;
            color: $cor-branca;
        }
    }
}